{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div id="app">
        <div v-cloak>

            <v-app id="inspire">

                <v-main class="grey lighten-3">
                    {% if user.is_authenticated %}
                        {% block content_app %}
                        {% endblock %}
                    {% else %}
                        <a href="/login">Login Here</a>
                    {% endif %}
                </v-main>
            </v-app>
        </div>

    </div>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>

{% endblock %}

{% block vue %}
    <script>
        tabs = {
            '/feed': 'Feed',
            '/new_post': 'New Post'
        }
        // TODO if tab doesn't exist redirect to error page
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: function () {
                return {
                    //'gender_items': ["female",  "male", "others", "prefer not to say"]
                    'gender_items' : ["1", "2", "3", "4"]
                }
            },
            delimiters: ['[[', ']]'],
        })
    </script>
{% endblock %}
</body>
</html>