<v-app-bar
        app
        color="white"
        flat
>
    <v-avatar
            :color="$vuetify.breakpoint.smAndDown ? 'grey darken-1' : 'transparent'"
            size="32"
    ></v-avatar>

    <v-tabs
            centered
            class="ml-n9"
            color="grey darken-1"
            v-model="active_tab"
    >
        <v-tab
                v-for="tab in tabs"
        >
            [[ tab ]]
        </v-tab>
    </v-tabs>

    <v-avatar
            class="hidden-sm-and-down"
            color="grey darken-1 shrink"
            size="32"
    ></v-avatar>
</v-app-bar>