{% extends "app/base_app.html"  %}

{% block title %}New Post{% endblock %}

{% block tab %}/new_post{% endblock %}

{% block content_app %}
<v-container>

    <v-sheet class="pa-10">
        <v-form action="/new_post_FORM/" method="post">
            {% csrf_token %}

            <v-text-field
                    v-model="name"
                    :counter="100"
                    label="Title"
                    name="title"
                    required
            ></v-text-field>

            <v-textarea
                    outlined
                    label="description"
                    name="description"
                    rows="20"
            ></v-textarea>

            <v-textarea
                    outlined
                    label="Users to fly"
                    name="users_to_fly"
                    rows="1"
            ></v-textarea>

            <v-btn type="submit" color="success">Create</v-btn>

        </v-form>
    </v-sheet>
</v-container>

{% endblock %}