{% extends "app/base_app.html"  %}
{% load static %}
{% block title %}Feed{% endblock %}
{% block tab %}Feed{% endblock %}

{% block content_app %}
<v-container>

    <v-row>
        <v-col
                cols="12"
                sm="2"
        >
            <v-sheet
                    rounded="lg"
                    min-height="268"
            >
                <v-img
                contain
                max-height="100%"
                src="{% static '/logos/1.png' %}"
            ></v-img>
            </v-sheet>
        </v-col>

        <v-col
                cols="12"
                sm="8"
        >
            <v-sheet
                    min-height="70vh"
                    rounded="lg"
            >

                <v-card
                class="mx-auto"
                outlined
              >
                <v-list-item three-line>
                  <v-list-item-content>
                    <div class="overline mb-4">
                      <v-list-item-subtitle>{{ post.pub_date }}</v-list-item-subtitle>
                    </div>
                    <v-list-item-title class="headline mb-1">
                      {{post.title}}
                    </v-list-item-title>
                    <v-list-item-text>{{post.description}}</v-list-item-text>
                    <v-list-item-subtitle>Users to fly: {{ post.users_to_fly }}</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
                <v-card-actions>
                  <v-btn
                    outlined
                    rounded
                    text
                    href="/feed"
                  >
                    Go back
                  </v-btn>

                    {% if not is_user_boarded %}
                  <v-form method="post" class="form-group pa-5">
                    {% csrf_token %}
                        <v-btn
                        type="submit"
                        >
                            Board this post
                        </v-btn>
                  </v-form>
                    {% endif %}
                </v-card-actions>
              </v-card>
            </v-sheet>
        </v-col>

        <v-col
                cols="12"
                sm="2"
        >
            <v-sheet
                    rounded="lg"
                    min-height="268"
            >
                <v-img
                contain
                max-height="100%"
                src="{% static '/logos/2.png' %}"
                ></v-img>
            </v-sheet>
        </v-col>
    </v-row>
</v-container>

{% endblock %}